@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
  }
  
/* #region Grid Layout */
.inventory-grid {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 220px 540px 540px 540px 540px;
    height: auto;
    margin: 30px 30px 30px 105px;
    gap: 20px;
}

/* #region Grid items*/
.inventory-options{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.monitoring{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.stock-levels{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.reorder-points{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.product-list{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
/* #endregion*/
/* #endregion */

/* #region Inventory item top style */
.inventory-grid .inventory-item > .top{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.inventory-grid .inventory-item .options .option-items:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.inventory-grid .inventory-item .options{
    display: flex;
    flex-direction: row;
}

.inventory-grid .inventory-item .options .option-items{
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    flex-grow: 1;
    flex-basis: 25%;
    height: 150px;
    border-radius: 10px;
}

.inventory-grid .inventory-item .options .option-items span {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 1.2rem; 
    letter-spacing: 0.5px; 
    margin: 20px;
    display: block;
}

.inventory-grid .inventory-item .options .option-items:not(:first-child) {
    margin-left: 15px; 
}

/* #endregion */

/* #region Inventory item styles */
.inventory-grid > *:not(:first-child) {
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    padding: 30px 25px; 
    border-radius: 20px;
}
.inventory-item {
    font-family: 'Afacad Flux', sans-serif;
}

.inventory-item:not(:first-child) .item-name {
    letter-spacing: .8px;
    font-size: 1.6rem;
    font-weight: 700;
}
/* #endregion */

