

/* #region Dashboard grid */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 20px;
    margin: 20px 20px 20px 100px;
    height: auto;
    grid-template-rows: 50px calc(100vh - 180px);
}

.dashboard-grid.title{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.product-list-table{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 13;
}

/* #region  dashboard item style*/
.dashboard-item:hover {
    cursor: default;
}

.dashboard-item .item-name{
    letter-spacing: .8px;
    font-size: 1.18rem;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 5px;
}
/* #endregion */

/* #endregion */

/* #region Table */
/* #endregion */

