/* Sidebar on small/medium screens (max-width: 1024px) */
@media (max-width: 1024px) {
    #navbar{
        padding-left: 20px;
    }
    /* #region Hide current sidebar*/
    #sidebar {
        display: none;      
    }
    #sidebar .logo-wrapper{
        display: none;
    }
    #sidebar ul{
        display: none;
    }
    /* #endregion*/
    #sidebar2{
        display: block;
    }
    #navbar .logo-wrapper {
        display: flex;
    }
    .dashboard-grid{
        margin: 15px 15px 85px 15px !important;
    }
}



